@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --grey:190, 189, 191;
}
.dark{
    --primary:0,0,0;
    --secondary:255,255,255;
}
.light{
    --primary:255,255,255;
    --secondary:0,0,0;
}
.red{
    --primary:252, 235, 3;
    --secondary:36, 3, 252;
}

@layer base{
    body{
        @apply font-grotesk bg-primary text-secondary sm:p-4 lg:text-[115%];
    }
}
@layer components{
    .container{
        @apply max-w-[80rem] mx-auto sm:border border-secondary 
    }
    .content{
        @apply min-h-screen flex flex-col
    }
    .main{
        @apply flex-1
    }
    .header{
        @apply relative flex border-b border-b-secondary items-center pl-5 z-20
    }
    .footer{
        @apply flex flex-wrap justify-between gap-5 px-5 
    }
    .social{
       
    }
}
@layer utilities{
    .flex-center{
        @apply flex justify-center items-center
    }
}
